<section class="bg-white">
  <div
    class="section-y-padding eco-container flex flex-col gap-[1rem] smx:gap-[3.75rem]"
  >
    <!-- ROW 1 -->
    <div class="flex flex-col gap-[0.75rem] text-center">
      <h2 class="section-title max-w-[37.5rem] mdx:max-w-[60rem] mx-auto">
        <span class="text-brand-main">Фундаментальные</span> преимущества,
        которые выделяют нас на рынке
      </h2>
    </div>

    <!-- ROW  -->
    <div class="flex flex-col smx:flex-row gap-3 smx:gap-6">
      {{!-- ITEM-1 --}}
      <div
        class="flex smx:flex-col mdx:flex-row items-center gap-1 smx:gap-6"
      >
        <div class="flex w-full max-w-[7.3125rem] smx:max-w-full mdx:max-w-[10.875rem] gap-[0.5rem] aspect-[200/150]">
          <img src="/images/webp/features/golden-russian-ruble.webp" alt="" class="w-full h-full object-cover">
        </div>
        <p class="text-caption text-light-secondary uppercase font-unbounded mdx:max-w-[15.25rem]">
          Качественное доступное оборудование <span class="text-light-base">по ценам от производителя</span>
        </p>
      </div>

        {{!-- ITEM-2 --}}
      <div
        class="flex smx:flex-col mdx:flex-row items-center gap-1 smx:gap-6 mdx:gap-10"
      >
        <div class="flex w-full max-w-[7.3125rem] smx:max-w-full mdx:max-w-[10.875rem] gap-[0.5rem] aspect-[200/150]">
          <img src="/images/webp/features/white-flag-isolated.webp" alt="" class="w-full h-full object-cover">
        </div>
        <p class="text-caption text-light-secondary uppercase font-unbounded mdx:max-w-[15.25rem]">
          Качественное доступное оборудование <span class="text-light-base">по ценам от производителя</span>
        </p>
      </div>

        {{!-- ITEM-3 --}}
      <div
        class="flex smx:flex-col mdx:flex-row items-center gap-1 smx:gap-6 mdx:gap-10"
      >
        <div class="flex w-full max-w-[7.3125rem] smx:max-w-full mdx:max-w-[10.875rem] gap-[0.5rem] aspect-[200/150]">
          <img src="/images/webp/features/wrench-screwdriver-hammer.webp" alt="" class="w-full h-full object-cover mdx:scale-110">
        </div>
        <p class="text-caption text-light-secondary uppercase font-unbounded mdx:max-w-[15.25rem]">
          Качественное доступное оборудование <span class="text-light-base">по ценам от производителя</span>
        </p>
      </div>
    </div>
  </div>
</section>
