<section class="relative section-y-padding overflow-visible">

  <!-- BACKGROUND -->
  <img
    src="/images/webp/install-self/install-self-bg.webp"
    alt=""
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- CONTENT -->
  <div class="eco-container relative z-10">

    <div class="flex flex-col md:flex-row gap-[24px]">

      <!-- LEFT CARD (ниже) -->
      <div class=" bg-brand-one rounded-big p-[16px] flex flex-col gap-[24px] 
      smx:p-[20px] md:w-[50%] mdx:p-[40px] md:mt-[120px]">

        <h2 class="text-center text-[18px] text-white uppercase font-unbounded leading-[1.4]
        smx:text-[24px] md:text-left mdx:text-[32px]">
          Или установите <br> септик самостоятельно
        </h2>

        <p class="text-h5 text-dark-base leading-[1.6]">
          Вы получите подробную инструкцию, схему монтажа и советы инженера компании “Септик”
        </p>

        {{> components/button-green
          text="Получить инструкцию"
          id="install-btn"
          class="h-[48px] smx:h-[60px] mt-auto"
        }}

      </div>

      <!-- RIGHT CARD (выше) -->
      <div class=" bg-white rounded-[24px]  aspect-[716/350] border-[10px] border-white 
      md:mb-[120px] md:w-[50%] md:aspect-[initial] mdx:rounded-[36px] ">

        <img
          src="/images/webp/install-self/pic.webp"
          alt="Инструкция по установке"
          class="w-full h-full object-cover rounded-[16px] mdx:rounded-[24px]"
        />

      </div>

    </div>

  </div>
</section>