<section class="relative section-y-padding overflow-visible">

  <!-- BACKGROUND -->
  <img
    src="/images/webp/install-self/install-self-bg.webp"
    alt=""
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- CONTENT -->
  <div class="eco-container relative z-10">

    <div class="flex flex-col md:flex-row gap-[1.5rem]">

      <!-- LEFT CARD (ниже) -->
      <div class=" bg-brand-one rounded-big p-[1rem] flex flex-col gap-[1.5rem] 
      smx:p-[1.25rem] md:w-[50%] mdx:p-[2.5rem] md:mt-[7.5rem]">

        <h2 class="text-center text-[1.125rem] text-white uppercase font-unbounded leading-[1.4]
        smx:text-[1.5rem] md:text-left mdx:text-[2rem]">
          Или установите <br> септик самостоятельно
        </h2>

        <p class="text-h5 text-dark-base leading-[1.6]">
          Вы получите подробную инструкцию, схему монтажа и советы инженера компании “Септик”
        </p>

        {{> components/button-green
          text="Получить инструкцию"
          callBack="true"
          class="h-[3rem] smx:h-[3.75rem] mt-auto"
        }}

      </div>

      <!-- RIGHT CARD (выше) -->
      <div class=" bg-white rounded-[1.5rem]  aspect-[716/350] border-[0.625rem] border-white 
      md:mb-[7.5rem] md:w-[50%] md:aspect-[initial] mdx:rounded-[2.25rem] ">

        <img
          src="/images/webp/install-self/pic.webp"
          alt="Инструкция по установке"
          class="w-full h-full object-cover rounded-[1rem] mdx:rounded-[1.5rem]"
        />

      </div>

    </div>

  </div>
</section>