<main class="py-10 flex-1">
  <div class="eco-container">

    <h1 class="text-3xl font-bold mb-6">
      Welcome !
    </h1>

    <p class="text-gray-600">
      Это базовый шаблон проекта на Vite + Tailwind.
    </p>

  </div>
</main>