<section class="w-full">
  <div id="map" class="relative w-full h-[31.25rem] mdx:h-[43.5rem] overflow-hidden">
    <img
      src="/images/webp/map/map-desktop.webp"
      alt="Карта"
      class="absolute inset-0 w-full h-full object-cover 
      object-center smx:object-left msx:object-center"
    />

    <div class="eco-container h-full ">
      <div class="relative h-full">{{> components/map-card }}</div>
    </div>
  </div>
</section>
