<section class="section-y-padding bg-white">
  <div class="eco-container flex flex-col gap-[1.25rem] smx:gap-[2rem] mdx:gap-[3.125rem]">
    <!-- ROW 1 -->
    <div class="flex flex-col gap-[0.75rem] text-center">

      <h2 class="section-title max-w-[72.5rem] mx-auto">
        Посмотрите <span class="text-brand-main">короткие видео</span> об
        автономных канализациях
      </h2>
      <p class="text-[1rem] text-light-secondary leading-[1.6]">
        Как происходит профессиональный монтаж автономной канализации?
      </p>
    </div>

    <!-- ROW 2 -->
    <div class="relative flex flex-col gap-[0.5rem] smx:gap-[1rem] mdx:gap-[1.5rem]">
      <!-- NAVIGATION -->
      {{> components/slider-navigation navId="process-slider-nav"
      paginationClass="process-pagination" }}

      <!-- SLIDER -->
      <div class="swiper" id="process-slider">
        <div class="swiper-wrapper">
          <!-- SLIDE -->
          {{> components/process-card videoId="9db278296199f21a92795270f3e05de0"}}
          {{> components/process-card videoId="9f5ac8b3a0ab182222fd370cadfb0e0f"}}
          {{> components/process-card videoId="a749fe75b5d2805437ec8acdd7812139"}}

          {{> components/process-card videoId="9db278296199f21a92795270f3e05de0"}}
          {{> components/process-card videoId="9f5ac8b3a0ab182222fd370cadfb0e0f"}}
          {{> components/process-card videoId="a749fe75b5d2805437ec8acdd7812139"}}       

          
        </div>
      </div>
    </div>
  </div>
</section>
