<section class="bg-[#f6f6f6] relative">
  <div class="eco-container py-[2.5rem] smx:py-[4rem] mdx:py-[7.25rem] relative overflow-hidden z-10">

    <div class="bg-[#f6f6f6] absolute inset-0 -z-15"></div>

    {{!-- signup bg --}}
    <div class="absolute inset-0 -z-12">
      <img src="/images/webp/signup/signup-bg.webp" class="w-full h-full object-cover 
      -translate-y-[17%] translate-x-[45%]   
      md:translate-y-[initial] md:translate-x-[initial]
      ">
    </div>

    <div class="flex flex-col gap-[2.5rem]">
      <!-- CARDS WRAPPER -->
      <div
        class="flex flex-col md:flex-row gap-[0.5rem] smx:gap-[1.25rem] mdx:gap-[2.5rem] justify-between"
      >
        <!-- ================= LEFT CARD ================= -->
        <div class="md:max-w-[28.125rem] w-full flex flex-col gap-[1rem] mdx:gap-[1.25rem]">
          <h3 class="text-[0.875rem] smx:text-[1rem] mdx:text-[1.25rem] uppercase font-unbounded text-light-base">
            запишитесь на
            <span class="text-brand-main">бесплатный выезд</span> замерщика на
            участок
          </h3>

          <p class="text-[1.125rem] text-light-secondary leading-[1.6] font-inter">
            Замерщик определит уровень грунтовых вод и оптимальное
            месторасположение для установки септика
          </p>

          <!-- LIST ITEM -->
          <div class="flex flex-col smx:flex-row w-full md:flex-col gap-[1.5rem] smx:gap-[1rem] smx:mt-[1rem]">
            <!-- ITEM 1 -->
            <div
              class="w-full smx:w-[30%] md:w-[initial] bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-center gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#calendar-days"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]"
                  >Дата и время</span
                >
              </div>
              <p class="text-body-small text-light-secondary">
                Инженер приедет к Вам в будний день или выходные
              </p>
            </div>

            <!-- ITEM 2 -->
            <div
              class="w-full smx:w-[30%] md:w-[initial] bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-center gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#ruler-dimension"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">Замер бесплатен</span>
              </div>
              <p class="text-body-small text-light-secondary">
                Замер бесплатен и ни к чему Вас не обязывает   

              </p>
            </div>
          </div>
        </div>

        <!-- ================= RIGHT CARD ================= -->
        <div
          class="md:max-w-[27.6875rem] card-shadow rounded-big p-[1rem] smx:p-[1.5rem] mdx:p-[2.5rem] w-full flex flex-col gap-[0.75rem] mdx:gap-[1.25rem]"
        >
          <h3 class="text-[0.875rem] smx:text-[1rem] mdx:text-[1.25rem] uppercase font-unbounded text-light-base">
            Выберите удобный день для выезда замерщика
          </h3>

          <p class="text-[0.875rem] smx:text-[1rem] text-black leading-[1.6]">
            Наш специалист свяжется с вами через 5 минут, чтобы уточнить детали
          </p>

          <!-- FORM -->
          <form id="signup-form" class="flex flex-col gap-[0.5rem] smx:gap-[1rem]">

            <!-- INPUT DATE -->
            <div class="flex flex-row md:flex-col gap-[0.5rem] mdx:gap-[1rem]">
              {{> components/input-field
                type="text"
                placeholder="Выберите дату"
                name="sugnup-date"
                icon="calendar-days"
                isDate=true
              }}
                <!-- INPUT PHONE -->
              {{> components/input-field
                type="text"
                name="signup-phone"
                placeholder="Ваш телефон +7 (ххх) ххх хххх"               
              }}       
            </div>
          

            <!-- BUTTON -->
            {{> components/button-blue id="signup-submit" type="submit" text="Перезвоните
            мне" class="w-full h-[3rem] smx:h-[3.75rem] mdx:mt-[0.75rem]" disabled=false }}

            <!-- CHECKBOX -->
            {{> components/check-line
              requred="true"
              name="signup-policy"
              text="Нажимая на кнопку вы соглашаетесь с условиями пользовательского соглашения"
            }}
                      
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
