<section class="bg-[#f8f9fa]">
  <div class="section-y-padding tech-bg eco-container flex flex-col gap-[1rem] smx:gap-[3.75rem]">

    <!-- ROW 1 -->
     <div class="flex flex-col gap-[0.75rem] text-center ">
    <h2 class="section-title max-w-[37.5rem] mdx:max-w-[47.5rem] mx-auto">
       <span class="text-brand-main">Автономные канализации </span>
        от ведущих производителей        
      </h2>      
     <p class="text-[1rem] text-light-secondary leading-[1.6] max-w-[40.625rem] mdx:max-w-[43.75rem] mx-auto">
       Это локальные очистные сооружения, которые работают благодаря двум принципам
        очистки: грубой механической и глубокой биологической.
      </p>

    </div>
     
    <!-- ROW 2 -->
    <div class="flex flex-col smx:flex-row justify-between gap-[12.5rem] smx:gap-6">

      <!-- LEFT LIST -->
      <div class="flex flex-col gap-3 smx:gap-6">
        {{!-- ITEM-1 --}}
         <div
              class="w-full smx:max-w-[13.875rem] mdx:max-w-[23.125rem]  bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-start gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#aperture"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">Практичность</span>
              </div>
              <p class="text-body-small text-light-secondary">
               Возможность отводить в канализацию практически любые отходы жизнедеятельности людей

              </p>
            </div>

             {{!-- ITEM-2 --}}
         <div
              class="w-full smx:max-w-[13.875rem] mdx:max-w-[23.125rem] bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-start gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#sparkless"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">УДОБСТВО ИСПОЛЬЗОВНИЯ</span>
              </div>
              <p class="text-body-small text-light-secondary">
            Пластиковые септики подходят как для постояннного, так и для временного или сезонного проживания
              </p>
            </div>

             {{!-- ITEM-3 --}}
         <div
              class="w-full smx:max-w-[13.875rem] mdx:max-w-[23.125rem] bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-start gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#book"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">Чёткая нормативная база</span>
              </div>
              <p class="text-body-small text-light-secondary">
                По устройству септиков и фильтрующих сооружений, многолетний опыт их применения.

              </p>
            </div>
       
      </div>

      <!-- RIGHT SLIDER -->
    <div class="flex flex-col gap-3 smx:gap-6">
        {{!-- ITEM-1 --}}
         <div
              class="w-full smx:max-w-[13.875rem] mdx:max-w-[23.125rem]  bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-start gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#scale"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">Небольшой вес</span>
              </div>
              <p class="text-body-small text-light-secondary">
              Пластиковых септиков в сравнении с бетонными конструкциями.

              </p>
            </div>

             {{!-- ITEM-2 --}}
         <div
              class="w-full smx:max-w-[13.875rem] mdx:max-w-[23.125rem] bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-start gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#command"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">Простота обслуживания</span>
              </div>
              <p class="text-body-small text-light-secondary">
               Обычно откачивать из септика отстоявшийся ил приходится не чаще одного раза в год.

              </p>
            </div>

             {{!-- ITEM-3 --}}
         <div
              class="w-full smx:max-w-[13.875rem] mdx:max-w-[23.125rem] bg-white rounded-[0.5rem] p-[0.5rem] smx:p-[1rem] mdx:p-[1.5rem] flex flex-col gap-[0.375rem]"
            >
              <div class="flex items-start gap-[0.5rem]">
                <svg class="w-6 h-6 text-brand-one shrink-0">
                  <use href="/icons/sprite/sprite.svg#waves"></use>
                </svg>
                <span class="text-[0.75rem] text-light-base font-unbounded uppercase leading-[1.6]">УРОВЕНЬ ГРУНТОВЫХ ВОД</span>
              </div>
              <p class="text-body-small text-light-secondary">
                В отличии от септиков из бетонных колец, пластиковые можно устанавливать на участке с высоким уровнем грунтовых вод (УГВ), то есть выше проектной глубины расположения основания септика.

              </p>
            </div>
       
      </div>
    </div>
  </div>
</section>