<button
  id="{{id}}"
  type="{{type}}"
  class="{{class}} font-unbounded uppercase text-center items-center justify-center border border-brand-one bg-brand-one text-opposite
    rounded-full px-[1rem] mdx:px-[1rem] cursor-pointer
    transition-all duration-200  hover:text-dark-base hover:bg-brand-one-darkest 
    active:text-dark-base active:border-brand-main active:bg-brand-main active:scale-95
    disabled:text-brand-one disabled:border-gray-300 disabled:bg-bg-color2 disabled:cursor-not-allowed"
  {{#if disabled}}disabled{{/if}}
>
  <span class="text-nowrap text-[0.75rem] leading-[1.6] mt-0.5">{{text}}</span>
</button>