<div class="{{activeClass}} faq-item bg-icon-fill rounded-[0.5rem] px-[2.5rem] py-[1.5rem] border-[0.0625rem] border-slate-300" data-faq-item>
  
  <!-- HEADER -->
  <button
    class="faq-header w-full flex gap-3 justify-between text-left cursor-pointer"
  >
    <span class="text-[0.75rem] leading-[1.6] uppercase font-unbounded">
      {{title}}
    </span>

    <svg class="faq-icon w-5 h-5 shrink-0 transition-transform">
      <use href="/icons/sprite/sprite.svg#down"></use>
    </svg>
  </button>

  <!-- CONTENT -->
  <div class="faq-content">
    <div class="pt-[0.75rem] text-[0.875rem] smx:text-[1rem] text-light-secondary leading-[1.6]">
      {{content}}
    </div>
  </div>

</div>