<div class="select-none swiper-slide bg-gray-100 rounded-[1rem] flex flex-col items-center justify-center rounded-big border-[0.0625rem] border-slate-300 bg-white overflow-hidden"
  >
    <div class="aspect-[372/247] smx:aspect-[346/230] mdx:aspect-[437/291]">
      <img src="{{img}}" class="w-full h-full object-cover" alt="Image" />
    </div>

    <div class="p-6 text-h6 uppercase font-unbounded text-center">{{text}}</div>  
</div>
