<div class="flex items-center gap-[10px]">
  {{!-- telegram --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#telegram"></use>
    </svg>
  </a>

  {{!-- whatsapp --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#whatsapp"></use>
    </svg>
  </a>

  {{!-- vk --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#vk"></use>
    </svg>
  </a>

  {{!-- youtube --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#youtube"></use>
    </svg>
  </a>
</div>
