<div class="flex items-center gap-[0rem]">

  <!-- CALL -->
  <label class="cursor-pointer">
    <input type="radio" name="{{name}}" value="call" class="hidden peer" />

    <div class="w-10 h-10 flex items-center justify-center rounded-full border-[0.0625rem] border-transparent 
                peer-checked:border-brand-one peer-checked:bg-brand-one/10 
                transition">
      <svg class="w-6 h-6 text-brand-one">
        <use href="/icons/sprite/sprite.svg#phone-call"></use>
      </svg>
    </div>
  </label>

  <!-- TELEGRAM -->
  <label class="cursor-pointer">
    <input type="radio" name="{{name}}" value="telegram" class="hidden peer" />

    <div class="w-10 h-10 flex items-center justify-center rounded-full border-[0.0625rem] border-transparent 
                peer-checked:border-brand-one peer-checked:bg-brand-one/10 
                transition">
      <svg class="w-6 h-6 text-brand-one">
        <use href="/icons/sprite/sprite.svg#telegram"></use>
      </svg>
    </div>
  </label>

  <!-- WHATSAPP -->
  <label class="cursor-pointer">
    <input type="radio" name="{{name}}" value="whatsapp" class="hidden peer" />

    <div class="w-10 h-10 flex items-center justify-center rounded-full border-[0.0625rem] border-transparent 
                peer-checked:border-brand-one peer-checked:bg-brand-one/10 
                transition">
      <svg class="w-6 h-6 text-brand-one">
        <use href="/icons/sprite/sprite.svg#whatsapp"></use>
      </svg>
    </div>
  </label>

  <!-- MAX -->
  <label class="cursor-pointer">
    <input type="radio" name="{{name}}" value="whatsapp" class="hidden peer" />

    <div class="w-10 h-10 flex items-center justify-center rounded-full border-[0.0625rem] border-transparent 
                peer-checked:border-brand-one peer-checked:bg-brand-one/10 
                transition">
      <svg class="w-6 h-6 text-brand-one">
        <use href="/icons/sprite/sprite.svg#max"></use>
      </svg>
    </div>
  </label>

</div>