<div class="flex items-center gap-[10px]">
    
  {{!-- call --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#phone-call"></use>
    </svg>
  </a>

  {{!-- telegram --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110" title="Телеграм">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#telegram"></use>
    </svg>
  </a>

  {{!-- whatsapp --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110" title="Ватсап">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#whatsapp"></use>
    </svg>
  </a>

  {{!-- max --}}
  <a href="#" target="_blank" class="transition diration-200 hover:scale-110" title="Макс">
    <svg class="w-6 h-6 text-brand-one">
      <use href="/icons/sprite/sprite.svg#max"></use>
    </svg>
  </a>
</div>
