<div
  id="success-modal-overlay"
  class="px-4 fixed inset-0 bg-black/20 z-150 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300"
>
  <div
    id="success-modal-content"
    class="max-w-[24rem] card-shadow rounded-[0.5rem] px-[1.5rem] pb-[1.5rem] pt-[1.25rem] w-full flex flex-col gap-[0.875rem] bg-white relative scale-95 opacity-0 transition-all duration-300"
  >
   
    <h2 class="text-[1rem] font-unbounded uppercase leading-[1.6] text-light-base mx-auto">
        Успех !
      </h2>
      <p class="text-center text-[0.875rem] text-light-secondary leading-[1.6]">
        Выша заявка обработана !
      </p>
   
  </div>
</div>
