<div class="flex items-center gap-1 smx:gap-[0.5rem] rounded-middle py-0.5 px-1.5 smx:py-2 smx:px-4 bg-icon-fill border-[0.0625rem] border-slate-300">
  <svg class="w-6 h-6 text-brand-one shrink-0">
    <use href="/icons/sprite/sprite.svg#{{icon}}"></use>
  </svg>
  <span class="hidden smx:inline text-body-small">{{labelBig}}</span>
  <span class="smx:hidden text-body-small">{{labelMin}}</span>
</div>
