html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

/********************************************
Скрыть скролл
*******************************************/
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-hide-children * {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

/********************************************
Контейнер
*******************************************/
.eco-container {
  @apply min-w-[22.5rem] max-w-[100rem] mx-auto px-[1.25rem] smx:px-[1.5625rem] md:px-wrapper;
}


/********************************************
Status in header
*******************************************/
.status-pulse {
  animation: statusPulse 1.6s ease-in-out infinite;
  transform-origin: center;
}

/********************************************
header burger modal
********************************************/
.animation-slidein-enter {
  animation: modalSlideIn 0.25s ease-out forwards;
}
.animation-fadein-enter {
  animation: modalFadeIn 0.25s ease-out forwards;
}

.show-burger-modal {
  @apply block;
}

.hide-burger-modal {
  @apply hidden;
}

/* отдельное ограничение */
@media (min-width: 40rem) {
  #burger-modal {
    display: none !important;
  }
}

.card-shadow {
  box-shadow: 0 1.25rem 3.125rem 0 rgba(0, 0, 0, 0.15);
  @apply bg-icon-fill;
}

/********************************************
faq 
********************************************/
.faq-bg {
  background-image: url("/images/webp/faq/faq-bg.webp");
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: cover;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-content {
  max-height: 31.25rem; /* достаточно большое значение */
}

.faq-header,
.faq-icon {
  @apply text-light-base;
  transition: color 0.2s ease-in-out;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
  @apply text-brand-one;
}
.faq-item.active .faq-header {
  @apply text-brand-one;
}

/********************************************
swiper
********************************************/

.swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  height: auto;
}

/********************************************
section custom
********************************************/
.section-hero-title {
  @apply text-[1.5rem] smx:text-[1.75rem] mdx:text-[2.625rem] leading-[1.6] uppercase font-unbounded text-light-base ;
}

.section-title {
  @apply text-[1.125rem] smx:text-[1.5rem] mdx:text-[2rem] leading-[1.6] uppercase font-unbounded text-light-base text-center;
}

.section-title-right {
  @apply text-[1.125rem] smx:text-[1.5rem] mdx:text-[2rem] leading-[1.6] uppercase font-unbounded text-light-base text-right;
}

.section-title-left, .section-title-none {
  @apply text-[1.125rem] smx:text-[1.5rem] mdx:text-[2rem] leading-[1.6] uppercase font-unbounded text-light-base ;
}

.section-y-padding {
  @apply py-[2.5rem] smx:py-[3.75rem] mdx:py-[6.25rem];
}

.section-hero-y-padding {
  @apply pt-[2.5rem] smx:pt-[3.75rem] mdx:pt-[6.25rem] pb-[2.5rem] mdx:pb-[4rem];
}


/********************************************
hide datepicker icon
********************************************/
/* Chrome / Edge / Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* дополнительно (иногда нужно) */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Firefox */
input[type="date"] {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/********************************************
custom checkbox
********************************************/
/* скрываем input, но он живой */
.cb-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* по умолчанию галочка скрыта */
.cb-icon {
  opacity: 0;
  transform: scale(0.8);
  transition: 0.15s ease;
}

/* ВОТ ГЛАВНАЯ ЛОГИКА */
.cb-input:checked + .cb-box .cb-icon {
  opacity: 1;
  transform: scale(1);
}

/* optional: бордер можно тоже менять */
.cb-input:checked + .cb-box {
  /* border-color: #4f46e5;  */
}


/********************************************
species tabs
********************************************/
[data-mobile-cell] {
  min-height: 1.5rem;
}

.species ul li {
  padding-left: 0.65rem;
}


/********************************************
septic form
********************************************/
.septic-shadow{
  box-shadow: 0 0.5rem 1.875rem 0 rgba(0, 0, 0, 0.04);
}
.radio-input:checked + span span {
  display: flex;
}

/* убираем дефолт */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 0.1875rem;
  background: #cbd5e1; /* slate-300 */
  border-radius: 62.4375rem;
  outline: none;
  transform: translateY(-0.5rem);
}

/* track (webkit) */
.range-slider::-webkit-slider-runnable-track {
  height: 0.1875rem;
  background: #cbd5e1;
  border-radius: 62.4375rem;
}

/* thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 1.5rem;
  height: 1.5rem;

  background: #fff;
  border: 0.125rem solid #3b82f6; /* blue-500 */
  border-radius: 50%;

  cursor: pointer;
  margin-top: -0.625rem; /* центрирование */
}

/* firefox */
.range-slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;

  background: #fff;
  border: 0.125rem solid #3b82f6;
  border-radius: 50%;
  cursor: pointer;
}

.custom-counter {
  counter-reset: item;
}

.custom-counter li {
  counter-increment: item;
}

.counter-badge {
  width: 1.375rem;
  height: 1.375rem;
  min-width: 1.375rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 62.4375rem;
  background: #3b82f6; /* blue-500 */
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
}


/********************************************
steps
********************************************/
.steps-bg {
  background-image: url("/images/webp/steps/steps-bg.webp");
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: cover;
}



/********************************************
installation slider
********************************************/
#installation-slider {
  /* Важно: не задавать фиксированную высоту */
  height: auto;
}

#installation-slider .swiper-wrapper {
  height: auto !important; /* перебиваем дефолтную высоту Swiper */
}

#installation-slider .swiper-slide {
  height: auto !important; /* слайд тянется под контент */
}

/********************************************
installation slider
********************************************/
.compare-bg {
background-image: url("/images/webp/compare/compare-bg.webp");
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: cover;
}



/********************************************
compare slider
********************************************/
#compare-slider {
  /* Важно: не задавать фиксированную высоту */
  height: auto;
}

#compare-slider .swiper-wrapper {
  height: auto !important; /* перебиваем дефолтную высоту Swiper */
}

#compare-slider .swiper-slide {
  height: auto !important; /* слайд тянется под контент */
}


/********************************************
tech
********************************************/
.tech-bg {
  @apply bg-[url('/images/webp/tech/diagrams.webp')] bg-no-repeat bg-[size:300%] bg-[position:center_52%] smx:bg-cover smx:bg-[position:center_45%]}


/********************************************
hero
********************************************/
.hero-bg {
  @apply bg-[url('/images/webp/hero/hero-bg.webp')] bg-no-repeat bg-cover bg-[position:center_center]
}

.show-burger-driwer {
  @apply -translate-x-1/1 smx:translate-x-[initial];
}

.hide-burger-driwer {
  @apply translate-x-1/1 smx:translate-x-[initial];
}

/* отдельное ограничение */
@media (min-width: 40rem) {
  #hero-burger-driwer {
    display: none !important;
  }
}
